<div class="container">
  <div class="row" *ngIf="isLoading; else loaded">
    <div class="col">
      <mat-spinner fxLayout="row" fxLayoutAlign="center center" [diameter]="100"></mat-spinner>
    </div>
  </div>
  <ng-template #loaded>
    <div class="row" *ngIf="!vacations; else notNull">
      <mat-card>There is no vacations yet.</mat-card>
    </div>
    <ng-template #notNull>
      <mat-table [dataSource]="vacations">
        <ng-container matColumnDef="Id">
          <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.vacationId}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let myRowData; columns: displayedColumns"></mat-row>
      </mat-table>
    </ng-template>
  </ng-template>
</div>

