<h1 mat-dialog-title>Add employee</h1>
<div mat-dialog-content>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="employeeId">
      <form [formGroup]="employeeId">
        <ng-template matStepLabel>Employee ID</ng-template>
        <mat-form-field>
          <input matInput placeholder="5" formControlName="employeeIdCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="typeGroup">
      <form [formGroup]="typeGroup">
        <ng-template matStepLabel>Vacation type ID</ng-template>
        <mat-form-field>
          <input matInput placeholder="1" formControlName="typeCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="vacationStartGroup">
      <form [formGroup]="vacationStartGroup">
        <ng-template matStepLabel>Vacation start</ng-template>
        <mat-form-field>
          <input matInput placeholder="1555200000000" formControlName="vacationStartCtrl">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="vacationDaysGroup" optional>
      <form [formGroup]="vacationDaysGroup">
        <ng-template matStepLabel>Vacation days</ng-template>
        <mat-form-field>
          <input matInput placeholder="Vacation days" formControlName="vacationDaysCtrl">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
    </mat-step>
  </mat-horizontal-stepper>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="onSubmitClick()">Submit</button>
  </div>
</div>
