<div class="container">
  <div class="row" *ngIf="isLoading; else loaded">
    <mat-card fxLayout="row" fxLayoutAlign="center center">
      <mat-spinner [diameter]="50"></mat-spinner>
    </mat-card>
  </div>
  <ng-template #loaded>
    <div>
      <mat-card fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="20px">
        <button mat-icon-button (click)="addEmployee()">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </mat-card>
    </div>
    <div class="row" *ngIf="!dataSourceEmployee; else notNull">
      <mat-card class="buttons">There is no employees yet.</mat-card>
    </div>

    <ng-template #notNull>
      <mat-table [dataSource]="dataSourceEmployee" matSort matSortDirection="asc">
        <ng-container matColumnDef="Id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.employeeId}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="FirstName">
          <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.firstName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="SecondName">
          <mat-header-cell *matHeaderCellDef>Second Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.secondName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Occupation">
          <mat-header-cell *matHeaderCellDef>Occupation ID</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.occupationId}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="VacationDays">
          <mat-header-cell *matHeaderCellDef>VacationDays</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.vacationDays}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let myRowData; columns: displayedColumns"></mat-row>
      </mat-table>
    </ng-template>
  </ng-template>
</div>
