<div class="container">
  <div class="row" *ngIf="isLoading; else loaded">
    <div class="col">
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  </div>
  <ng-template #loaded>
    <div class="row" *ngIf="!users; else notNull">
      <div class="col">
        There is no users yet.
      </div>
    </div>
    <ng-template #notNull>
      <mat-table [dataSource]="users">
        <ng-container matColumnDef="Id">
          <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.userId}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="EmployeeId">
          <mat-header-cell *matHeaderCellDef>EmployeeId</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.employeeId}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Username">
          <mat-header-cell *matHeaderCellDef>Username</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.username}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Password">
          <mat-header-cell *matHeaderCellDef>Password</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.password}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let myRowData; columns: displayedColumns"></mat-row>
      </mat-table>
      <!--<div class="row" *ngFor="let user of users; let i = index">-->
        <!--<div class="col">-->
          <!--<div>-->
            <!--Id: {{ user.userId }}-->
            <!--Username: {{ user.username }}-->
            <!--Secret: {{ user.password }}-->
            <!--<br/>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </ng-template>
  </ng-template>
</div>
